/*global override styling to prevent the page extending past the browser width*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body and main flexbox and spacing */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header, footer, div, span: spacing and colors */
header,
footer,
div {
    padding: 20px;
    background-color: #c0c0c0;
}

header {
    border-bottom: 4px double #8b8b8b;
}

footer {
    border-top: 4px double #8b8b8b;
}

div {
    border: 4px double #8b8b8b;
    width: 75%;
    margin-top: 25px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-div {
    margin-bottom: 25px;
}

span {
    flex-direction: column;
}